body {
  font-size: 14px;
}

h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}

.log-message-date {
  background: #f6f6f6;
}

.log-message-ERROR {
  background: #eeb2aa;
}

.log-message-WARN {
  background: #eeecb4;
}

.checkbox input, .radio input {
  display: inherit;
}

nav .checkbox {
  display: inline-block;
}
